runs
weights
MUJOCO_LOG.TXT
trained_models
logs
results
log_gym
old_logs
vids
__pycache__
logic_game_xml
tags
*.m
*.mp4
*.pyc
vids-archive
wandb
method/embedder/visualization/
method/embedder/data
sample-runs
tmp_*
method/embedder/data_0701/
method/embedder/data_0703_gran/
method/embedder/data_0828/
method/embedder/data_0829_64/
method/embedder/data_0829_84/
method/embedder/data_0829_48/
method/embedder/data_0902_48/
method/embedder/data_0910/
method/embedder/data_gif/
method/embedder/gif_visualization/
method/embedder/data_0903/
method/embedder/data_visualization/
data/trained_models
data/vids
data/results
data/obs
.python-version
